src/main/resources/META-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.purplegreen.dk/HelloService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService"
	targetNamespace="http://www.purplegreen.dk/HelloService">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.purplegreen.dk/HelloService">
			<xsd:element name="Hello">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HelloResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="HelloRequest">
		<wsdl:part element="tns:Hello" name="parameters" />
	</wsdl:message>
	<wsdl:message name="HelloResponse">
		<wsdl:part element="tns:HelloResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HelloService">
		<wsdl:operation name="Hello">
			<wsdl:input message="tns:HelloRequest" />
			<wsdl:output message="tns:HelloResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloServiceSOAP" type="tns:HelloService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Hello">
			<soap:operation soapAction="http://www.purplegreen.dk/HelloService/Hello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSOAP" name="HelloServiceSOAP">
			<soap:address location="http://localhost/HelloService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
